.friendTag {
    background-color: rgba(182, 252, 210, 0.798);
    border-radius: 10px;
    margin-top: 4px;
    padding-left: 10px;
    text-align: left;
    display: flex;
}

.friendTag:hover {
    transform: scale(104%);
}

.info {
    flex: 0.8;
    display: flex;
}

.button_div {
    flex: 0.2;
    background-color: rgb(66, 203, 173);
    border: 0;
    border-radius: 20%;
}

.info_avatar {
    flex: 0.2;
}

.info_name_email {
    flex: 0.8;
}
