.feed {
    margin-top: 30px;
}

.feedHeader {
    background-color: rgb(195, 232, 186);
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 99;
    width: 100%;

    /* width: 85vw; */
}

.watch_list::-webkit-scrollbar {
    display: none;
}

.watchList_flex {
    display: flex;
}

.watch_list {
    min-width: fit-content;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    flex: 0.7;
    overflow: scroll;
    height: 95vh;
}

.watch {
    flex: 0.3;
    padding-top: 10px;
}
