*,
body {
    margin: 0;
    padding: 0;
    --theme-color: #00ac14;
}

.App {
    height: auto;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

/* @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.home,
.reports,
.products {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
} */

.flex {
    display: flex;
    /* background: #ccc; */
    float: none;
    /* overflow: hidden; */
}

.outlet {
    flex: 0.9;
    flex-grow: 100;
}
